
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: none;
}

header {
    width: 90%;
    padding: 18px 5%;
    display: flex;
    background: #f7f7f7;
    justify-content: space-between;
    align-items: center;
    
}

header > .logo {
    font-family: 'Montserrat', sans-serif;
font-size: 35px;
font-weight: 700;
color: rgb(44, 44, 44);


}


header > .nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    color: rgb(44, 44, 44);
    font-size: 17px;

    }

    header > .nav a:hover{
        color: rgb(155, 155, 155);
    }

#hidden-menu-1, #hidden-menu-2  {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    bottom: -100vh ;
    text-align: center;
    background: #f1f1f1;
    z-index: 10;
    /* display: none; */

}
#hidden-menu-1 .close, #hidden-menu-2 .close {
    font-size: 25px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: color 600ms ease;
    }
    
    #hidden-menu-1 .close:hover{
    color: #ccc;
    }
    #hidden-menu-2 .close:hover{
        color: #ccc;
        }

#hidden-menu-1 .send, #hidden-menu-2 .send {
    width: 80%;
    padding: 50px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#hidden-menu-1 img, #hidden-menu-2 img {
    width: 500px;
    height: 500px;
}

#hidden-menu-1 .text, #hidden-menu-2 .text{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;

}
#hidden-menu-1 button, #hidden-menu-2 button {
    border-radius: 7px;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        background: rgb(189, 189, 189);
        text-align: center;
        padding: 10px 30px;
        margin-top: 10px;
        /* margin-left: 50vw;
        margin-bottom: 100vw; */

}
#hidden-menu-1 button:hover{
    background: rgb(53, 53, 53);
    
}
#hidden-menu-2 button:hover{
    background: rgb(53, 53, 53);
    
}

    .full-page{
        height: 80vh; /*от высоты экрана*/
        background: url('https://sun9-55.userapi.com/c637626/v637626851/32eeb/W8bfId6ZMII.jpg') no-repeat center center;
        background-attachment: fixed; /*Картинка зафиксирована при скролинге*/
        background-size: cover ; /*Позволяет растянуть картинку на весь экран*/
        background-blend-mode: multiply; /*Картинка состоит из нескольких слоев*/
        background-color: #c5c5c5;
        text-align: center;
        color: #fff;
    
    }
    
    .full-page h1 {
        font-family: 'Montserrat', sans-serif;
        padding-top: 5%;
        font-size: 80px;
        width: 500px;
        margin: 0 auto;
        font-weight: 700;
       
    }
    .full-page h3 {
        width: 60%;
        padding: 20px 20%;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        
    
    } 




    .features {

        background: #f1f1f1;
        width: 90%;
        padding: 7% 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        
      
       
    }


    .features .sl-1,
    .features .sl-2
     {
        width: 80%;
        padding: 5px 10%;
        margin-bottom: 5%;
        
    
    }



 .features img {
    width: 400px;
    height: 420px;
    margin-bottom: 10px;
    /* margin-top: 20px; */
    /* z-index: 5; */

}


.features .sl-1 h3,
.features .sl-2 h3
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 500;
   
}
        
.features .sl-1 p,
.features .sl-2 p{

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;


}


#info-1 {
    width: 90%;
    background: #f1f1f1;
    padding: 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#info-1 .info-2 h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: rgb(54, 54, 54);
    padding-bottom: 20px;
    

}
#info-1 .info-2 h3{
    width: 1000px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: rgb(54, 54, 54);
    padding-top: 10px;
}

 .contact{
    height: 40vh; /*от высоты экрана*/
    background: url('https://sun1-91.userapi.com/YU8_jXudJ-4FUesAS52WK0MgWM6F6n6lA2XRLQ/pa23kzDmVCY.jpg') no-repeat center center ;
   background-attachment: fixed; /*Картинка зафиксирована при скролинге*/
    background-size: cover; /*Позволяет растянуть картинку на весь экран*/
    background-blend-mode: multiply; /*Картинка состоит из нескольких слоев*/
    background-color: #5e5e5e;
    text-align: center;
    color: #fff;
    
 }
 .contact .cont h1{
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;


 }
 .contact .cont h2 {
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
 }

 footer {
    width: 90%;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #727272;
}

 footer .social div {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    border-radius: 50%;
    background: rgb(211, 211, 211);
    /* border: 1px solid rgb(185, 185, 185); */
    cursor: pointer;
    color: #ffffff;
    transition:  transform 600ms ease;

}
footer .up-btn {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    border-radius: 50%;
    background: rgb(211, 211, 211);
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    color: #363636;
    transition:  transform 600ms ease; 
}

footer .up-btn:hover{
    background: #fff;
}
footer .up-btn:hover, footer .social div:hover {
    transform: translateY(-7px);
}

footer .social div {
    display: inline-block;
    margin-left: 15px;

}
.social div:hover{
    background: #308ef3;
}

footer p{
    color: #fff;
    font-size: 15px;
}

    
    